.copyAlert {
  opacity: 0;
}

@keyframes disappear {
  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.cycle {
  display: none;
  position: absolute;
  border-radius: 100%;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
/* .cycle-decoration-1 {
  left: -300px;
  top: -230px;
  width: 500px;
  height: 500px;
  background: rgba(255, 255, 255, 0.6);
}
.cycle-decoration-2 {
  right: -300px;
  top: -550px;
  width: 800px;
  height: 800px;
  background: rgba(255, 255, 255, 0.4);
}
.cycle-decoration-3 {
  right: 600px;
  bottom: 0;
  width: 200px;
  height: 200px;
  border-radius: 100% 100% 0 0;
  background: rgba(255, 255, 255, 0.5);
} */

::selection {
  background: rgb(214, 36, 158);
  color: rgb(35, 37, 38);
}

::-webkit-scrollbar {
  width: 26px;
}
::-webkit-scrollbar-track {
  background: rgb(65, 67, 69);
}
::-webkit-scrollbar-thumb {
  background: #4776E6;
  background: -webkit-linear-gradient(to right, hsl(263, rgb(71, 118, 230)), #4776E6);
  background: linear-gradient(to right, #8E54E9, #4776E6);
  border-radius: 3px;
}

.banner {
  background: url('../banner-images/not-found.png');
}
.simple-calculator-banner {
  background: url('../banner-images/simple-calculator.png');
}
.calculator-banner {
  background: url('../banner-images/calculator-img.png');
}
.skilled-banner {
  background: url('../banner-images/skilled.png');
}
.userapi-banner {
  background: url('../banner-images/userapi.png');
}
.reis-banner {
  background: url('../banner-images/reis.png');
}
.laselesvpn-banner {
  background: url('../banner-images/laslesvpn-img.png');
}
.perfume-banner {
  background: url('../banner-images/perfume-img.png');
}
.beepb-banner {
  background: url('../banner-images/beep365.png');
}
.indostrious-banner {
  background: url('../banner-images/indostrious.png');
}
.dom-banner {
  background: url('../banner-images/dom-img.png');
}
.theory-banner {
  background: url('../banner-images/theory-img.png');
}
.prism-banner {
  background: url('../banner-images/prism-img.png');
}
.layouts-banner {
  background: url('../banner-images/layouts-img.png');
}