.header-wrapper {
    background-image:
    radial-gradient(circle, hsla(350, 100%, 74%, 80%), hsla(350, 100%, 74%, 80%)),
    url('../img/pattern.png');
    padding: 80px 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* ? header */

.header {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 25%;
    text-align: left;
}
.header-logo img {
    width: 70px;
}

.header-icon {
    width: 25%;
    text-align: right;
}
.header-icon img {
    width: 40px;
}

.header-headline {
    width: 50%;
    text-align: center;
}
.header-link {
    font-size: 90px;
    color: #fff;
    text-decoration: none;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
}

/* ? main */

.main-wrapper {
    background-image:
    radial-gradient(circle, hsla(350, 100%, 70%, 90%), hsla(350, 100%, 70%, 90%)),
    url('../img/main-background.png');
    padding: 100px 0;
}

.main {
    color: #fff;
    background-color: hsl(350, 82%, 47%);
    border-radius: 20px;
    max-width: 30%;
    padding: 30px;
}

.main-description {
    margin-top: 50px;
}
.main-button {
    margin: 100px 0 50px;
}
.main-description h2 {
    margin-bottom: 7px;
}
.main-description h5 {
    margin-bottom: 30px;
} 
.main-description p {
    line-height: 20px;
}

.main-button {
    color: #000;
    background-color: hsl(36, 91%, 58%);
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    width: 50%;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
}

/* ? main link */

    .main-title {
        text-align: center;
        margin-bottom: 50px;
        color: #000;
    }

    .main-row {
        display: flex;
        justify-content: space-evenly;
        margin: 100px 0 0;
        width: 100%;
        flex-wrap: wrap;
        line-height: 200px;
        /* -webkit-user-select: none; /* Safari */
        /* -ms-user-select: none; IE 10+ and Edge */
        /* user-select: none; Standard syntax */
    }

    .main-col-1 {
        width: 30%;
        /* position: relative;
        z-index: -1; */
    }

    .main-box {
        border: 1px solid #fff;
        width: 350px;
        height: 350px;
        border-radius: 100%;
        transition: all 1s;
    }
    
    .main-box {
        width: 100%;
    }
    .main-box h2 {
        text-align: center;
        margin-bottom: 60px;
    }

/* ? footer */

.footer-wrapper {
    background-image:
    radial-gradient(circle, hsla(350, 100%, 74%, 80%), hsla(350, 100%, 74%, 80%)),
    url('../img/pattern.png');
    padding: 60px;
}

.footer {
    font-family: sans-serif;
}

.footer-row {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.footer-col p {
    margin-top: 20px;
}

.footer-img {
    width: 34px;
}

/* * media query */

@media(max-width: 1024px) {
    .container {
        max-width: 800px;
    }
    .main {
        width: 50%;
    }
  }

  @media(max-width: 768px) {
      .container {
          max-width: 700px;
      }
      .header-link {
          font-size: 60px;
      }
  }

  @media(max-width: 425px) {
      .container {
          max-width: 350px;
      }
      .header-link {
          font-size: 30px;
      }
      .header-logo img {
          width: 50px;
      }
      .header-icon img {
          width: 0;
      }
      .main {
        width: 70%;
    }
        .footer-row {
            flex-direction: column;
        }
        .footer-col {
            margin: 30px 0;
        }
  }

  @media(max-width: 425px) {
      .container {
          max-width: 290px;
        }
  }

