* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(222,231,239);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}
img {
    width: 100%;
}

.main-page-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}
.nav-link--style {
    font-weight: 500;
}

.profile-icon {
    font-weight: 0;
}
.nav a:hover,
.footer a:hover,
.col a i:hover {
    color: rgba(222,231,239, 0.7) !important;
}
.nav-logo,
.nav-btn,
.link-btn,
.button,
.col a i {
    text-decoration: none;
    color: rgb(222,231,239);
    transition: 0.3s;
}
.nav-logo,
.nav-btn {
    font-size: 18px;
}
.nav,
.footer {
    background-color: rgb(37, 42, 52);
    color: rgb(222,231,239);
    padding: 2em 0;
    text-transform: uppercase;
}
.align-right {
    text-align: right;
}
.col-border {
    /* border-right: 1px solid rgb(222,231,239); */
    /* margin-right: 4em; */
    /* padding-right: 1.5em; */
    content: "";

}
.wrapper {
    padding: 8em 0;
    /* min-height: calc(100vh - 190px); */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrapper h1 {
    color: rgb(60,83,163);
    text-transform: uppercase;
    margin-bottom: 1em;
    font-size: 24px;
    font-weight: bold;
}
.main-btn {
    margin-top: 3.5em;
}
.main-btn .button {
    display: block;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}
.button {
    background-color: rgb(60,83,163);
    color: rgb(222,231,239);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 100px 10px 100px;
    border-radius: 20px 0 0 20px;
}
.button:hover {
    background-color: rgba(60,83,163,0.85);
    color: rgba(222,231,239,1);
}
.footer {
    padding: 1em 0 !important;
}
.link-btn {
    margin: 0 0.3em; 
}
.icons {
    font-size: 28px;
    color: rgb(222,231,239);
}
.mail-icon {
    /* font-size: 20px; */
    margin-right: 0.3em;
}
.align-self-center p {
    margin: 0;
}

/* ? projects page */

.headline{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(60,83,163);;
    margin-bottom: 4em;
}
.project-block {
    margin-top: 8em;
    border: 3px solid rgb(37, 42, 52);
    border-radius: 3px;
}
.image-background-propertys {
    position: relative;
    /* background-color: rgba(38,34,97,1); */
    /* background-image: url('background-img.jpg'); */
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    padding: 150px 0;
}
.col {
    flex: 1;
}
/* ? background images */
.vortex-img {
    background-image: url('vortex-img.png');
}
.dom-img {
    background-image: url('dom-img.png');
}
.theory-img {
    background-image: url('theory-img.png');
}
.prism-img {
    background-image: url('prism-img.png');
}
.layouts-img {
    background-image: url('layouts-img.png');
}
.urban-img {
    background-image: url('urban-img.png');
}
.indostrious-img {
    background-image: url('indostrious.png');
}
.project365-img {
    background-image: url('beep365.png');
}
.evolution-img {
    background-image: url('evolution-img.png');
}
.perfume-img {
    background-image: url('perfume-img.png');
}
.laslesvpn-img {
    background-image: url('laslesvpn-img.png');
}
.reis-img {
    background-image: url('reis.png');
}
.skilled-img {
    background-image: url('skilled.png');
}
.calculator-img {
    background-image: url('calculator-img.png');
}
.simple-calculator-img {
    background-image: url('simple-calculator.png');
}

.background-color {
    position: absolute;
    /* background-color: rgb(147, 174, 218); */
    background-color: rgb(37, 42, 52);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    /* opacity: 0.6; */
}
.image-background-propertys h3 {
    position: absolute;
    color: rgb(222,231,239);
    text-transform: uppercase;
    /* font-weight: bold; */
    font-size: 22px;
    top: 2em;
    left: 53%;
    z-index: 2;
}
.image-background-propertys a {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
}
.image-background-propertys p {
    position: absolute;
    margin-bottom: 0;
    text-transform: uppercase;
    color: rgb(222,231,239);
    z-index: 2;
    bottom: 2em;
    left: 53%;
}
.link-tags {
    margin: 0 0.3em;
    color: rgba(222,231,239,1);
    cursor: pointer;
    transition: 0.5s;
}
.link-tags:hover {
    color: rgba(222,231,239,0.8);
}
.fa-align-left {
    margin-left: 5px;
}

/* queries */

@media (max-width: 768px) {
    .nav-logo,
    .nav-btn {
        font-size: 16px;
    }
    .wrapper h1 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
    .button {
        font-size: 12px;
        padding: 10px 50px 10px 70px;
    }
    .icons {
        font-size: 20px;
    }
    .headline {
        font-size: 20px;
        /* margin-bottom: 2em; */
    }
    .background-color {
        width: 100%;
        left: 0;
        opacity: 0.65;
    }
    .image-background-propertys h3 {
        left: 2em;
        font-size: 20px;
    }
    .image-background-propertys p {
        left: 3.5em;
        font-size: 12px;
    }
    .project-block {
        border: none;
    }
    .image-background-propertys {
        background-size: cover;
    }
    .background-color {
        z-index: 1;

    }
}

@media (max-width: 425px) {
    .nav-logo,
    .nav-btn {
        font-size: 14px;
    }
    .wrapper h1 {
        font-size: 18px;
    }
    p {
        font-size: 12px;
    }
    .button {
        font-size: 10px;
        padding: 10px 50px 10px 70px;
    }
    .icons {
        font-size: 18px;
    }
    .headline {
        font-size: 18px;
        margin-bottom: 2em;
        /* margin-bottom: 2em; */
    }
    .background-color {
        width: 100%;
        left: 0;
        opacity: 0.65;
    }
    .image-background-propertys {
        padding: 100px 0;
    }
    .image-background-propertys h3 {
        left: 2em;
    }
    .image-background-propertys p {
        left: 3em;
    }
    .col-md-6 {
        margin: 2em 0 2em;
    }
    .wrapper {
        padding: 5em 0 5em;
    }
    .project-block {
        margin-top: 4em;
    }
}

@media (max-width: 320px) {
    .image-background-propertys {
        padding: 80px 0;
    }
    .image-background-propertys h3 {
        left: 1em;
        font-size: 12px;
    }
    .image-background-propertys p {
        left: 1em;
        font-size: 10px;
    }
    .button {
        font-size: 10px;
        padding: 10px 50px 10px 50px;
    }
    .wrapper h1,
    .headline {
        font-size: 14px !important;
    }
    p {
        font-size: 10px;
    }
    .nav-logo,
    .nav-btn {
        font-size: 10px;
    }
    .icons {
        font-size: 14px;
    }
    .main-btn {
        margin-top: 2em;
    }
}