
@import url('reset.css');

body {
    background: hsla(0, 0%, 93%, 100%);
    font-size: 13pt;
    font-weight: 300;
}
/*todo wrapper */
.wrapper {
    text-align: center;
    background: hsla(0, 0%, 93%, 100%);
    padding: 5em 0em;
}
.wrapper-banner {
    padding: 7em 0em 5em 0em;
    background: hsl(146, 63%, 42%, 100%) url('img/banner.png') no-repeat center;
    background-size: cover;
}
.wrapper-green {
        background: hsl(146, 63%, 42%, 100%);
}
/*todo container */
.container {
    margin: 0em auto;
    max-width: 1000px;
}
.container-border {
    border-top: 1px solid hsl(0, 0%, 86%, 100%);
    padding: 5em 0em 0em;
}
/*todo row */
.row {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}
/*todo col */
.col-border {
    padding: 2em 2em;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 8px;
}
.col-margin-left {
    margin-right: 20px;
}
/*todo img */
.img {
    border-radius: 50%;
    width: 80%;
}
/*todo article / h2 / byline */
h1, h2, h3 {
    padding: 0;
    margin: 0;
    font-weight: 700;
    color: hsla(0, 0%, 93%, 100%);
}
h2 {
    text-transform: lowercase;
    font-size: 3.2em;
}
.article {
    margin-bottom: 3em;
}
.article-headline_blue {
    color: #2B3F48;
}
.byline {
    font-size: 1.3em;
    color: rgba(255,255,255,.6);
}
.byline_black {
    color: #6f6f6f;
}
/*todo p / paragraph */
p {
    line-height: 180%;
}
.paragraph {
    color: rgba(255,255,255,.8);
    text-align: center;
}
.paragraph-black {
    color: #656565;
}
.paragraph-left {
    text-align: left;
    margin-bottom: 15px;
}
/*todo button */
.button {
    display: inline-block;
    margin-top: 3em;
    padding: 0 3em;
    border-radius: 8px;
    letter-spacing: 0.20em;
    line-height: 4em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
    background: hsl(146, 63%, 42%, 100%);
    color: #fff;
}
.button-blue {
    background: #2B3F48;
    color: #fff;
}
.button-white {
    background-color: #fff;
    color: hsl(146, 63%, 42%, 100%);
}
.button-margin {
    background: hsl(146, 63%, 42%, 100%);
    margin-top: 5em;
}
/*todo strong */
strong {
    font-weight: bold;
}
/*todo link */
.link {
    color: rgba(255,255,255,1);;
}
.link:hover {
    text-decoration: none;
}
.paragraph_link {
    letter-spacing: 0.20em;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.70em;
    color: rgba(0,0,0,0.5);
}
.a_link {
    text-decoration: none;
    font-size: 100%;
    color: rgba(0,0,0,0.8);
}
/*! end */
/*? div img    */
/*? div > img   */