body {
    margin: 0;
    padding: 0;
    font-family: 'Scope One', serif;
}
img {
    display: block;
    border-radius: 100%;
    width: 100%;
}
h1 {
    font-size: 4em;
    margin: 0;
}
h3 {
    font-size: 1.75em;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 1em 0;
}
p {
    margin: 2em 0;
}
.fab, .fas {
    color: #3498db;
}

/* ! banner */

.banner {
    background-image: url('img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner::before {
    content: '';
    background-color: #000;
    position: absolute;
    display: block;
    height: 260%;
    width: 100%;
    opacity: 0.65;
}

.banner .button {
    font-size: 1.35em;
}

.inner {
    margin: 0 auto;
    padding: 5em 0;
    text-align: center;
    color: #fff;
}

.header {
    position: relative;
    z-index: 1;
}

.header p {
    font-size: 1.75em;
    color: rgba(255, 255, 255, 0.85);
}

/* ! end header */

/* ! main */
/* ? wrapper */

.wrapper {
    padding: 4em 0;
    position: relative;
}
.style-1 {
    background-color: #fafafa;
    color: #999999;
}
.style-2 {
    background-color: #3498db;
    color: #aed6f1;
}

/* ? container */

.container {
    margin: 0 auto;
    max-width: 80%;
    position: relative;
    z-index: 1;
}

/* ? row / col */

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
.col {
    width: 28%;
}
.col-1 {
    width: 30%;
}
.col-2 {
    width: 66%;
}

/* ? text style */

.style-1 h3 {
    color: #000000;
}
.style-2 h3 {
    color: #ffffff;
}
.style-1 .button {
    background-color: #3498db;
    color: #fff !important;
}
.style-1 .button:hover {
    background-color: #4aa3df;
}
.style-2 .button {
    background-color: #fff;
    color: #3498db !important;
}
.style-2 .col-1 {
    order: 2;
}
.align-center {
    text-align: center;
}

/* ? button */

.button {
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    height: 2.85em;
    line-height: 2.95em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.link {
    text-decoration: none;
    color: #999999;
    transition: color 0.2s ease-in-out;
}
.link:hover {
    color: rgba(153, 153, 153, 0.5);
}

/* ! end main */

/* ! footer */

.footer {
    padding: 6em 2em 4em 2em;
}

/* ? copyright */

.copyright {
    color: #bfbfbf;
    font-size: 0.9em;
    margin: 0 0 2em 0;
    padding: 0;
    text-align: center;
}

/* ? ul / li */

ul.icons {
    list-style: none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding: 0 2em 0 0;
}

/* ! end footer */

/* todo media cuery */

@media (max-width: 736px) {
    .header {
        width: 90%;
        margin: auto;
    }
    .header h1 {
        font-size: 1.75em;
    }
    .header p {
        font-size: 1.25em;
        margin: 1em 0;
    }
    .header .button {
        width: 80%;
    }
    .col-1, .col {
        width: 60%;
        margin: 0 auto 50px auto;
    }
    .col-2 {
        width: 90%;
    }
    .style-2 .col-1 {
        order: 0;
    }
  }