@import url("reset.css");

@font-face {
  font-family: georgian bold;
  src: url("fonts/bpg_nino_mtavruli_bold.ttf");
}

@font-face {
  font-family: georgian normal;
  src: url("fonts/bpg_arial_2009.ttf");
}

/*? fonts end */

.wrapper {
  padding: 7em 0 5em 0;
  width: 100%;
}
.wrapper-background {
  background: rgba(12, 16, 51, 0.4) url("img/space-banner.jpg") no-repeat center;
  background-size: cover;
  padding: 10em 0;
  width: 100%;
}
.wrapper-color {
  background-color: rgba(5, 28, 65, 1);
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

/*? headline */
.headline {
  width: 70%;
  margin: 0 auto;
}
.headline h3,
.headline span {
  color: rgba(39, 36, 203, 1);
  font-size: 40px;
}
.headline h2 {
  color: rgba(255, 255, 255, 1);
  font-size: 85px;
}

/*? description */
.description {
  color: rgba(255, 255, 255, 1);
  margin: auto;
}
.description h2,
.description h3 {
  text-align: center;
}
.description h2 {
  font-size: 64px;
}
.description h3 {
  color: rgba(204, 0, 255, 1);
  font-size: 36px;
  padding-bottom: 100px;
}
.description p {
  font-size: 30px;
}
.description-p-padding {
  padding-top: 60px;
}

/*? planets */
.row {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}
.col {
  width: 20%;
  padding: 0 50px;
  flex-grow: 1;
}
.col-name {
  color: rgba(5, 28, 65, 1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px 20px 0 0;
  padding: 10px 0;
}
.col-picture {
  border: 2px solid rgba(255, 255, 255, 1);
}
.button-line {
  background-color: rgba(5, 28, 65, 1);
  padding: 40px 0;
}
.button {
  background-color: rgba(255, 255, 255, 1);
  padding: 15px 20px;
  border-radius: 50px;
  color: rgba(5, 28, 65, 1);
  text-decoration: none;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/*? sun and moon */
.row-margin {
  margin: 0 5%;
  background-color: black;
  border-radius: 30px;
}
.column-img {
  width: 22%;
  padding: 10px;
}
.column-text {
  padding: 50px 20px;
  width: 70%;
  font-size: 30px;
  text-align: right;
}
.column-text p {
  text-align: left;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 1);
}
.button-column {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  font-size: 24px;
  padding: 10px 15px;
  text-decoration: none;
}
.button-column:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.color-sun {
  color: rgba(244, 138, 30, 1);
}
.color-moon {
  color: rgba(134, 131, 129, 1);
}

/*? stars */
.wrapper-star {
  background: rgba(0, 0, 0, 0.5) url("img/stars.jpg") no-repeat center;
  background-size: cover;
}
.wrapper-star h2 {
  color: rgba(255, 245, 0, 1);
  margin-bottom: 40px;
}
.button-star {
  background-color: rgba(255, 245, 0, 1);
  color: black;
}
.button-star:hover {
  background-color: rgba(255, 245, 0, 0.8);
}
.star-image {
  width: 40%;
  margin-bottom: 50px;
}
.p-width {
  margin: 0 0 60px;
}

/*? media queries */

@media only screen and (max-width: 943px) {
  .wrapper {
    padding: 3em 0 3em 0;
  }
  .description h3 {
    padding-bottom: 30px;
  }
  .headline {
    width: 100%;
  }
  .row {
    flex-wrap: wrap;
  }
  .column-img,
  .column-text {
    width: 100%;
  }
  .small-img {
    width: 40%;
  }
}

@media only screen and (max-width: 600px) {
  /* .wrapper {
    padding: 3em 0 3em 0;
  } */
  .wrapper-background {
    padding: 5em 0;
  }
  .description h2 {
    font-size: 32px;
  }
  .description h3 {
    font-size: 22px;
    padding-bottom: 25px;
  }
  .description p,
  p {
    font-size: 18px;
  }
  .star-image {
    width: 100%;
  }
  .small-img {
      width: 60%;
    }
    .button-column {
        font-size: 16px;
    }
    .column-text {
        text-align: center;
    }
    .column-text p {
        margin-bottom: 35px;
    }
    .col {
    width: 100%;
    padding: 0;
  }
  .container {
    width: 80%;
  }
}
