@media only screen and (max-width: 1000px) {
    .content h1 {
        font-size: 2rem;
    }
    .button, .btn-1, .btn-2, .i-hover {
        font-size: 1rem;
    }
    .description, .inputs {
        width: 90%;
    }
    .description h2 {
        font-size: 1.5rem;
    }
    .description p {
        font-size: 1rem;
    }
    .col p {
        font-size: 11pt;
    }
    .col {
        padding: 5em 2em;
    }
    input {
        
    }
  }

@media only screen and (max-width: 800px) {
    .col, .col-2 {
        width: 50%;
    }
    .content-footer {
        padding: 2em 0 2em;
    }
    .content h1 {
        font-size: 1.5rem;
    }
    .button, .btn-1, .btn-2, .i-hover {
        font-size: 0.8rem;
    }
    .inputs {
        padding: 3em;
    }
    .col-2 {
        flex-grow: 0;
    }
    .justify-content-center {
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {
    .inner {
        max-width: calc(100% - 3rem);
    }
    .col, .col-2 {
        width: 100%;
    }
    .description, .inputs {
        width: 100%;
    }
    .content-footer {
        padding: 3em 0 3em;
    }
    .input-half-col {
        width: 100%;
        margin: 1em 0;
    }
    textarea {
        margin: 1em 0 2em;
    }
    .content h1 {
        font-size: 1.20rem;
        margin-bottom: 2.5em;
    }
}