body {
    color: #7a7d86;
    background-color: #f2f5fa;
    background-image: url(images/overlay.png), url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyMDAnIGhlaWdodD0nMTAwJyB2aWV3Qm94PScwIDAgMjAwIDEwMCcgcHJlc2VydmVBc3BlY3RSYXRpbz0nbm9uZSc+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSdyZzEnIGN4PScwJScgY3k9JzAlJyByPScxMDAlJyBmeD0nMCUnIGZ5PScwJSc+PHN0b3Agb2Zmc2V0PScwJScgc3R5bGU9J3N0b3AtY29sb3I6ICNhNDgwZmY7IHN0b3Atb3BhY2l0eTogMC41JyAvPjxzdG9wIG9mZnNldD0nMTAwJScgc3R5bGU9J3N0b3AtY29sb3I6ICNhNDgwZmY7IHN0b3Atb3BhY2l0eTowJyAvPjwvcmFkaWFsR3JhZGllbnQ+PHJhZGlhbEdyYWRpZW50IGlkPSdyZzInIGN4PScxMDAlJyBjeT0nMCUnIHI9JzEwMCUnIGZ4PScxMDAlJyBmeT0nMCUnPjxzdG9wIG9mZnNldD0nMCUnIHN0eWxlPSdzdG9wLWNvbG9yOiAjZmY4ZjgzOyBzdG9wLW9wYWNpdHk6IDAuNScgLz48c3RvcCBvZmZzZXQ9JzEwMCUnIHN0eWxlPSdzdG9wLWNvbG9yOiAjZmY4ZjgzOyBzdG9wLW9wYWNpdHk6MCcgLz48L3JhZGlhbEdyYWRpZW50PjwvZGVmcz48cG9seWdvbiBwb2ludHM9JzAsMCAxMjUsMCAxMjUsMTAwIDAsMTAwJyBzdHlsZT0nZmlsbDogdXJsKCNyZzEpOycgLz48cG9seWdvbiBwb2ludHM9Jzc1LDAgMjAwLDAgMjAwLDEwMCA3NSwxMDAnIHN0eWxlPSdmaWxsOiB1cmwoI3JnMik7JyAvPjwvc3ZnPg==), url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyMDAnIGhlaWdodD0nMTAwJyB2aWV3Qm94PScwIDAgMjAwIDEwMCcgcHJlc2VydmVBc3BlY3RSYXRpbz0nbm9uZSc+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSdyZzEnIGN4PScwJScgY3k9JzEwMCUnIHI9JzEwMCUnIGZ4PScwJScgZnk9JzEwMCUnPjxzdG9wIG9mZnNldD0nMCUnIHN0eWxlPSdzdG9wLWNvbG9yOiAjYTQ4MGZmOyBzdG9wLW9wYWNpdHk6IDAuNScgLz48c3RvcCBvZmZzZXQ9JzEwMCUnIHN0eWxlPSdzdG9wLWNvbG9yOiAjYTQ4MGZmOyBzdG9wLW9wYWNpdHk6MCcgLz48L3JhZGlhbEdyYWRpZW50PjxyYWRpYWxHcmFkaWVudCBpZD0ncmcyJyBjeD0nMTAwJScgY3k9JzEwMCUnIHI9JzEwMCUnIGZ4PScxMDAlJyBmeT0nMTAwJSc+PHN0b3Agb2Zmc2V0PScwJScgc3R5bGU9J3N0b3AtY29sb3I6ICNmZjhmODM7IHN0b3Atb3BhY2l0eTogMC41JyAvPjxzdG9wIG9mZnNldD0nMTAwJScgc3R5bGU9J3N0b3AtY29sb3I6ICNmZjhmODM7IHN0b3Atb3BhY2l0eTowJyAvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxwb2x5Z29uIHBvaW50cz0nMCwwIDEyNSwwIDEyNSwxMDAgMCwxMDAnIHN0eWxlPSdmaWxsOiB1cmwoI3JnMSk7JyAvPjxwb2x5Z29uIHBvaW50cz0nNzUsMCAyMDAsMCAyMDAsMTAwIDc1LDEwMCcgc3R5bGU9J2ZpbGw6IHVybCgjcmcyKTsnIC8+PC9zdmc+);
    background-size: auto, 100% 60rem, 100% 60rem;
    background-position: top left, top left, bottom left;
    background-repeat: repeat, no-repeat, no-repeat;
}

.wrapper {
    padding: 6rem 0;
}
.inner {
    margin: 0 auto;
    max-width: calc(100% - 7rem);
    width: 80rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
}
.justify {
    justify-content: space-between;
}
.row-center {
    justify-content: center;
}

/* banner */
.banner {
    position: relative;
}
.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/overlay.png), url(images/overlay.png), linear-gradient(45deg, #a480ff, #ff8f83);
    opacity: 0.7;
}

.content {
    position: absolute;
    color: #fff;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.content h1 {
    margin-bottom: 1.5em; 
}

/* 1 main */

.main {
    margin: 3rem 0;
    background-color: #fff;
}

.description {
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 6rem;
}

.image-for-banner {
    position: relative;
}
.image-for-banner::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/overlay.png),
     linear-gradient(45deg,
     rgba(164, 128, 255, 0.25),
     rgba(255, 143, 131, 0.25));
}

.col {
    width: 30%;
    padding: 5em;
    text-align: center;
    border: 1px solid #dde1eb;
    flex-grow: 1;
}

.content-footer {
    padding: 4em 0;
    text-align: center;
}

/* 2 main */

.col-2 {
    width: 30%;
    padding: 3em;
    text-align: center;
    flex-grow: 1;
}

.col-2-img {
    position: relative;
}
.col-2-img img {
    transform: scale(1);
    transition: 0.3s;
}
.col-2-img a {
    display: block;
    overflow: hidden;
}
.col-2-img img:hover {
    transform: scale(1.1);
}
.col-2-img::after {
    content: '';
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/overlay.png),
                        linear-gradient(45deg, rgba(164, 128, 255, 0.25),
                        rgba(255, 143, 131, 0.25));
}

.main-footer-pading {
    padding-bottom: 3rem;
}

/* 3 main */

.style2 {
    color: #ffffff;
    background-image: url(images/overlay.png),
                         linear-gradient(45deg, #8e94f8, #bc9cba);
}

.inputs {
    width: 60%;
    margin: auto;
    padding: 5em;
}

.col-3 {
    width: 40%;
    margin: 0 10% 0 0;
}

.input-half-col {
    width: 45%;
}

input {
    appearance: none;
    background: transparent;
    border-radius: 0.325rem;
    border: solid 1px;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1rem;
    text-decoration: none;
    width: 100%;
}
textarea {
    appearance: none;
    background: transparent;
    border-radius: 0.325rem;
    border: solid 1px;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1rem;
    text-decoration: none;
    width: 101%;
    margin: 3em 0;
}
input,
textarea {
    padding: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

/* .inputs .row {
    margin-bottom: 2.5em;
} */

.content-footer-icon {
    padding: 1em 0 4em;
    text-align: center;
}

/* copyright */

.copyright {
    text-align: center;
    color: rgba(122, 125, 134, 0.75);
}